*.vt100.cursorBlink: true
*.vt100.faceName: Terminus:antialias=false:size=9
*.vt100.fullscreen: never
*.vt100.saveLines: 10000
*.vt100.scrollBar: false
*.vt100.scrollTtyOutput: false
*.vt100.title: Terminal
*.vt100.utf8: true

! Terminal column, row, left, top
*.vt100.geometry: 90x30+30+30

! Terminal background color
*.vt100.background: #080808

! Terminal text color
*.vt100.foreground: #ffffff

*.vt100.color0: #080808
*.vt100.color1: #d75f5f
*.vt100.color2: #5faf5f
*.vt100.color3: #d7d75f
*.vt100.color4: #87afaf
*.vt100.color5: #af87d7
*.vt100.color6: #d7ffd7
*.vt100.color7: #eeeeee

*.vt100.color8: #888888
*.vt100.color9: #ff5f5f
*.vt100.color10: #87d75f
*.vt100.color11: #ffff87
*.vt100.color12: #87afff
*.vt100.color13: #af87ff
*.vt100.color14: #d7ffff
*.vt100.color15: #ffffff

! Allow to copy text with <CTRL+SHIFT+C>
! Allow to paste text with <CTRL+SHIFT+V>
*.vt100.selectToClipboard: true
*.vt100.translations: #override \n\
  Ctrl <Key>KP_Add: larger-vt-font() \n\
  Ctrl <Key>KP_Subtract: smaller-vt-font() \n\
  Ctrl <Key>minus: smaller-vt-font() \n\
  Ctrl <Key>plus: larger-vt-font() \n\
  Ctrl Shift <Key>C: copy-selection(CLIPBOARD) \n\
  Ctrl Shift <Key>V: insert-selection(CLIPBOARD) \n\
  Shift <Key>Down: scroll-forw(1) \n\
  Shift <Key>Up: scroll-back(1)