<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/file:///usr/share/openbox/menu.xsd">
  <menu id="root-menu" label="Menus">
    <item label="Browser">
      <action name="Execute">
        <execute>firefox-developer-edition</execute>
      </action>
    </item>
    <item label="Files">
      <action name="Execute">
        <execute>thunar</execute>
      </action>
    </item>
    <item label="Terminal">
      <action name="Execute">
        <execute>urxvt</execute>
      </action>
    </item>
    <separator/>
    <menu execute="xdg_menu --format openbox3-pipe --root-menu /etc/xdg/menus/arch-applications.menu" id="application-menu" label="Applications"/>
    <separator/>
    <item label="Exit">
      <action name="Exit">
        <prompt>yes</prompt>
      </action>
    </item>
    <item label="Power Off">
      <action name="Execute">
        <execute>poweroff</execute>
        <prompt>Are you sure you want to power off the computer?</prompt>
      </action>
    </item>
    <item label="Restart">
      <action name="Execute">
        <execute>reboot</execute>
        <prompt>Are you sure you want to restart the computer?</prompt>
      </action>
    </item>
    <separator/>
    <item label="Refresh">
      <action name="Reconfigure"/>
    </item>
  </menu>
</openbox_menu>